version: 2
updates:
  - package-ecosystem: 'cargo'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      tauri:
        patterns:
          - 'tauri*'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      eslint:
        patterns:
          - 'eslint*'
          - '@eslint/*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'docker'
    directory: '/.devcontainer'
    schedule:
      interval: 'weekly'

  - package-ecosystem: 'docker'
    directory: '/.github/images/ci-base'
    schedule:
      interval: 'weekly'
